*{
    font-family: 'Tilt Warp', cursive;
  }
  
  body{
     /* Parallax  */
     
     background-image: url("https://live.staticflickr.com/3171/2904133029_3e225fdccb_b.jpg");
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     background-blend-mode: lighten;
     text-align: center;
  }
  
  h1{
     color: blue;
     font-variant: small-caps;
  }
  
  h2{
     color:red;
     font-style: oblique;
  }
  
  h3{
     color:lightsalmon;
  }
  
  div{
     /* background-color: gold; */
  }
  
  p{
     border-width: 10px;
     border-color: darkgreen;
     border-style: groove;
  }
  
  .p2{
     /* background-color: dodgerblue; */
     font-style: italic;
     border-color: indigo;
  }
  
  #p4{
     /* border-color: springgreen; */
     border-style: dashed;
  }
  
  .groom{
     font-style: italic;
     font-size: larger;
  }
  
  #table {
     display: flex;
     justify-content: center;
     align-items: center;
  }
  
  table:hover {
     color: orange;
  }
  
  table {
     text-align: center;
  }
  
  td:hover {
     background-color: white;
     font-size: 30px;
  }
  
  @keyframes shake {
     0% { transform: translate(1px, 1px) rotate(0deg); }
     10% { transform: translate(-1px, -2px) rotate(-1deg); }
     20% { transform: translate(-3px, 0px) rotate(1deg); }
     30% { transform: translate(3px, 2px) rotate(0deg); }
     40% { transform: translate(1px, -1px) rotate(1deg); }
     50% { transform: translate(-1px, 2px) rotate(-1deg); }
     60% { transform: translate(-3px, 1px) rotate(0deg); }
     70% { transform: translate(3px, 1px) rotate(-1deg); }
     80% { transform: translate(-1px, -1px) rotate(1deg); }
     90% { transform: translate(1px, 2px) rotate(0deg); }
     100% { transform: translate(1px, -2px) rotate(-1deg); }
   }
  
   img:hover {
     animation: shake 3s infinite;
     animation-direction: alternate;
     animation-timing-function: ease-in-out;
   }
  
   @keyframes jared {
     0%{
       transform: scaleX(0.5);
       opacity: 0;
     }
     60%{
       transform: scaleX(1);
       opacity: 1;
     }
     100%{
       transform: scaleX(0.8);
     }
   }
   
   h1 {
     animation: jared 3s infinite;
     animation-direction: alternate;
     animation-timing-function: ease-in-out;
   }